LivraisonRepas/Service References/LivraisonRepasServiceReference/LivraisonRepasService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LivraisonRepasService.Composite" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LivraisonRepasService.Composite" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUtilisateursComposite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UtilisateursComposite" nillable="true" type="tns:UtilisateursComposite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUtilisateursComposite" nillable="true" type="tns:ArrayOfUtilisateursComposite" />
  <xs:complexType name="UtilisateursComposite">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdresseValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUtilisateursValue" type="xs:int" />
      <xs:element minOccurs="0" name="PasswordValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PseudoValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UtilisateursComposite" nillable="true" type="tns:UtilisateursComposite" />
  <xs:complexType name="ArrayOfCommandesComposite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommandesComposite" nillable="true" type="tns:CommandesComposite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommandesComposite" nillable="true" type="tns:ArrayOfCommandesComposite" />
  <xs:complexType name="CommandesComposite">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContenuValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EtatValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdClientsValue" type="xs:int" />
      <xs:element minOccurs="0" name="IdCommandesValue" type="xs:int" />
      <xs:element minOccurs="0" name="IdLivreursValue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandesComposite" nillable="true" type="tns:CommandesComposite" />
</xs:schema>