LivraisonRepas/Service References/LivraisonRepasCommandesServiceReference/LivraisonRepasCommandesService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45719/LivraisonRepasCommandesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LivraisonRepasService.Composite" />
  <xs:import schemaLocation="http://localhost:45719/LivraisonRepasCommandesService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LivraisonRepasService" />
  <xs:element name="GetCommandes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommandesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LivraisonRepasService.Composite" minOccurs="0" name="GetCommandesResult" nillable="true" type="q1:ArrayOfCommandesComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommande">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LivraisonRepasService.Composite" minOccurs="0" name="GetCommandeResult" nillable="true" type="q2:CommandesComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommandes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LivraisonRepasService" minOccurs="0" name="c" nillable="true" type="q3:Commandes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommandesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCommandes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCommandesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommandes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LivraisonRepasService" minOccurs="0" name="c" nillable="true" type="q4:Commandes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommandesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>