LivraisonRepas/Service References/LivraisonRepasCommandesServiceReference/LivraisonRepasCommandesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LivraisonRepasCommandesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:45719/LivraisonRepasCommandesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:45719/LivraisonRepasCommandesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:45719/LivraisonRepasCommandesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LivraisonRepasService.Composite" />
      <xsd:import schemaLocation="http://localhost:45719/LivraisonRepasCommandesService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LivraisonRepasService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILivraisonRepasCommandesService_GetCommandes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommandes" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasCommandesService_GetCommandes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommandesResponse" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasCommandesService_GetCommande_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommande" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasCommandesService_GetCommande_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommandeResponse" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasCommandesService_AddCommandes_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCommandes" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasCommandesService_AddCommandes_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommandesResponse" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasCommandesService_DeleteCommandes_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCommandes" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasCommandesService_DeleteCommandes_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCommandesResponse" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasCommandesService_UpdateCommandes_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCommandes" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasCommandesService_UpdateCommandes_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCommandesResponse" />
  </wsdl:message>
  <wsdl:portType name="ILivraisonRepasCommandesService">
    <wsdl:operation name="GetCommandes">
      <wsdl:input wsaw:Action="http://tempuri.org/ILivraisonRepasCommandesService/GetCommandes" message="tns:ILivraisonRepasCommandesService_GetCommandes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILivraisonRepasCommandesService/GetCommandesResponse" message="tns:ILivraisonRepasCommandesService_GetCommandes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommande">
      <wsdl:input wsaw:Action="http://tempuri.org/ILivraisonRepasCommandesService/GetCommande" message="tns:ILivraisonRepasCommandesService_GetCommande_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILivraisonRepasCommandesService/GetCommandeResponse" message="tns:ILivraisonRepasCommandesService_GetCommande_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCommandes">
      <wsdl:input wsaw:Action="http://tempuri.org/ILivraisonRepasCommandesService/AddCommandes" message="tns:ILivraisonRepasCommandesService_AddCommandes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILivraisonRepasCommandesService/AddCommandesResponse" message="tns:ILivraisonRepasCommandesService_AddCommandes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCommandes">
      <wsdl:input wsaw:Action="http://tempuri.org/ILivraisonRepasCommandesService/DeleteCommandes" message="tns:ILivraisonRepasCommandesService_DeleteCommandes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILivraisonRepasCommandesService/DeleteCommandesResponse" message="tns:ILivraisonRepasCommandesService_DeleteCommandes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCommandes">
      <wsdl:input wsaw:Action="http://tempuri.org/ILivraisonRepasCommandesService/UpdateCommandes" message="tns:ILivraisonRepasCommandesService_UpdateCommandes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILivraisonRepasCommandesService/UpdateCommandesResponse" message="tns:ILivraisonRepasCommandesService_UpdateCommandes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILivraisonRepasCommandesService" type="tns:ILivraisonRepasCommandesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommandes">
      <soap:operation soapAction="http://tempuri.org/ILivraisonRepasCommandesService/GetCommandes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommande">
      <soap:operation soapAction="http://tempuri.org/ILivraisonRepasCommandesService/GetCommande" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCommandes">
      <soap:operation soapAction="http://tempuri.org/ILivraisonRepasCommandesService/AddCommandes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCommandes">
      <soap:operation soapAction="http://tempuri.org/ILivraisonRepasCommandesService/DeleteCommandes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCommandes">
      <soap:operation soapAction="http://tempuri.org/ILivraisonRepasCommandesService/UpdateCommandes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LivraisonRepasCommandesService">
    <wsdl:port name="BasicHttpBinding_ILivraisonRepasCommandesService" binding="tns:BasicHttpBinding_ILivraisonRepasCommandesService">
      <soap:address location="http://localhost:45719/LivraisonRepasCommandesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>