LivraisonRepas/Service References/LivraisonRepasCommandesServiceReference/LivraisonRepasCommandesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LivraisonRepasService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LivraisonRepasService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Commandes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Etat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Client" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Livreur" type="xs:int" />
      <xs:element minOccurs="0" name="Utilisateurs" nillable="true" type="tns:Utilisateurs" />
      <xs:element minOccurs="0" name="Utilisateurs1" nillable="true" type="tns:Utilisateurs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Commandes" nillable="true" type="tns:Commandes" />
  <xs:complexType name="Utilisateurs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Commandes" nillable="true" type="tns:ArrayOfCommandes" />
      <xs:element minOccurs="0" name="Commandes1" nillable="true" type="tns:ArrayOfCommandes" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pseudo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Utilisateurs" nillable="true" type="tns:Utilisateurs" />
  <xs:complexType name="ArrayOfCommandes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Commandes" nillable="true" type="tns:Commandes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommandes" nillable="true" type="tns:ArrayOfCommandes" />
</xs:schema>