LivraisonRepas/Service References/LivraisonRepasUtilisateursServiceReference/LivraisonRepasUtilisateursService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45719/LivraisonRepasUtilisateursService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LivraisonRepasService.Composite" />
  <xs:import schemaLocation="http://localhost:45719/LivraisonRepasUtilisateursService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LivraisonRepasService" />
  <xs:element name="GetUtilisateurs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilisateursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LivraisonRepasService.Composite" minOccurs="0" name="GetUtilisateursResult" nillable="true" type="q1:ArrayOfUtilisateursComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilisateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUtilisateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LivraisonRepasService.Composite" minOccurs="0" name="GetUtilisateurResult" nillable="true" type="q2:UtilisateursComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUtilisateurs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LivraisonRepasService" minOccurs="0" name="u" nillable="true" type="q3:Utilisateurs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUtilisateursResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUtilisateurs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUtilisateursResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUtilisateurs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LivraisonRepasService" minOccurs="0" name="u" nillable="true" type="q4:Utilisateurs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUtilisateursResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthentificationUtilisateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pseudo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthentificationUtilisateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LivraisonRepasService.Composite" minOccurs="0" name="AuthentificationUtilisateurResult" nillable="true" type="q5:UtilisateursComposite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistePseudo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pseudo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistePseudoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExistePseudoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>