LivraisonRepas/Service References/LivraisonRepasUtilisateursServiceReference/LivraisonRepasAuthentificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LivraisonRepasAuthentificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:45719/LivraisonRepasUtilisateursService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:45719/LivraisonRepasUtilisateursService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:45719/LivraisonRepasUtilisateursService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LivraisonRepasService.Composite" />
      <xsd:import schemaLocation="http://localhost:45719/LivraisonRepasUtilisateursService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LivraisonRepasService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILivraisonRepasUtilisateursService_GetUtilisateurs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUtilisateurs" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasUtilisateursService_GetUtilisateurs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUtilisateursResponse" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasUtilisateursService_GetUtilisateur_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUtilisateur" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasUtilisateursService_GetUtilisateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUtilisateurResponse" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasUtilisateursService_AddUtilisateurs_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUtilisateurs" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasUtilisateursService_AddUtilisateurs_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUtilisateursResponse" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasUtilisateursService_DeleteUtilisateurs_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUtilisateurs" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasUtilisateursService_DeleteUtilisateurs_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUtilisateursResponse" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasUtilisateursService_UpdateUtilisateurs_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUtilisateurs" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasUtilisateursService_UpdateUtilisateurs_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUtilisateursResponse" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasUtilisateursService_AuthentificationUtilisateur_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthentificationUtilisateur" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasUtilisateursService_AuthentificationUtilisateur_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthentificationUtilisateurResponse" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasUtilisateursService_ExistePseudo_InputMessage">
    <wsdl:part name="parameters" element="tns:ExistePseudo" />
  </wsdl:message>
  <wsdl:message name="ILivraisonRepasUtilisateursService_ExistePseudo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistePseudoResponse" />
  </wsdl:message>
  <wsdl:portType name="ILivraisonRepasUtilisateursService">
    <wsdl:operation name="GetUtilisateurs">
      <wsdl:input wsaw:Action="http://tempuri.org/ILivraisonRepasUtilisateursService/GetUtilisateurs" message="tns:ILivraisonRepasUtilisateursService_GetUtilisateurs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILivraisonRepasUtilisateursService/GetUtilisateursResponse" message="tns:ILivraisonRepasUtilisateursService_GetUtilisateurs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUtilisateur">
      <wsdl:input wsaw:Action="http://tempuri.org/ILivraisonRepasUtilisateursService/GetUtilisateur" message="tns:ILivraisonRepasUtilisateursService_GetUtilisateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILivraisonRepasUtilisateursService/GetUtilisateurResponse" message="tns:ILivraisonRepasUtilisateursService_GetUtilisateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUtilisateurs">
      <wsdl:input wsaw:Action="http://tempuri.org/ILivraisonRepasUtilisateursService/AddUtilisateurs" message="tns:ILivraisonRepasUtilisateursService_AddUtilisateurs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILivraisonRepasUtilisateursService/AddUtilisateursResponse" message="tns:ILivraisonRepasUtilisateursService_AddUtilisateurs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUtilisateurs">
      <wsdl:input wsaw:Action="http://tempuri.org/ILivraisonRepasUtilisateursService/DeleteUtilisateurs" message="tns:ILivraisonRepasUtilisateursService_DeleteUtilisateurs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILivraisonRepasUtilisateursService/DeleteUtilisateursResponse" message="tns:ILivraisonRepasUtilisateursService_DeleteUtilisateurs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUtilisateurs">
      <wsdl:input wsaw:Action="http://tempuri.org/ILivraisonRepasUtilisateursService/UpdateUtilisateurs" message="tns:ILivraisonRepasUtilisateursService_UpdateUtilisateurs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILivraisonRepasUtilisateursService/UpdateUtilisateursResponse" message="tns:ILivraisonRepasUtilisateursService_UpdateUtilisateurs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthentificationUtilisateur">
      <wsdl:input wsaw:Action="http://tempuri.org/ILivraisonRepasUtilisateursService/AuthentificationUtilisateur" message="tns:ILivraisonRepasUtilisateursService_AuthentificationUtilisateur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILivraisonRepasUtilisateursService/AuthentificationUtilisateurResponse" message="tns:ILivraisonRepasUtilisateursService_AuthentificationUtilisateur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExistePseudo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILivraisonRepasUtilisateursService/ExistePseudo" message="tns:ILivraisonRepasUtilisateursService_ExistePseudo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILivraisonRepasUtilisateursService/ExistePseudoResponse" message="tns:ILivraisonRepasUtilisateursService_ExistePseudo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILivraisonRepasUtilisateursService" type="tns:ILivraisonRepasUtilisateursService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUtilisateurs">
      <soap:operation soapAction="http://tempuri.org/ILivraisonRepasUtilisateursService/GetUtilisateurs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtilisateur">
      <soap:operation soapAction="http://tempuri.org/ILivraisonRepasUtilisateursService/GetUtilisateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUtilisateurs">
      <soap:operation soapAction="http://tempuri.org/ILivraisonRepasUtilisateursService/AddUtilisateurs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUtilisateurs">
      <soap:operation soapAction="http://tempuri.org/ILivraisonRepasUtilisateursService/DeleteUtilisateurs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUtilisateurs">
      <soap:operation soapAction="http://tempuri.org/ILivraisonRepasUtilisateursService/UpdateUtilisateurs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthentificationUtilisateur">
      <soap:operation soapAction="http://tempuri.org/ILivraisonRepasUtilisateursService/AuthentificationUtilisateur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExistePseudo">
      <soap:operation soapAction="http://tempuri.org/ILivraisonRepasUtilisateursService/ExistePseudo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LivraisonRepasAuthentificationService">
    <wsdl:port name="BasicHttpBinding_ILivraisonRepasUtilisateursService" binding="tns:BasicHttpBinding_ILivraisonRepasUtilisateursService">
      <soap:address location="http://localhost:45719/LivraisonRepasUtilisateursService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>